<?xml version="1.0" encoding="UTF-8"?>


<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  
	

	
	<servlet>
		<servlet-name>RaiseTicket</servlet-name>
		<servlet-class>User.RaiseTicketServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>RaiseTicket</servlet-name>
		<url-pattern>/raise</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>ViewTicket</servlet-name>
		<servlet-class>User.viewTicketServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ViewTicket</servlet-name>
		<url-pattern>/view</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>OnprogressTicket</servlet-name>
		<servlet-class>User.DisplayonprogressTickets</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>OnprogressTicket</servlet-name>
		<url-pattern>/onprogress</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PendingTicket</servlet-name>
		<servlet-class>User.DisplaypendingTickets</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>PendingTicket</servlet-name>
		<url-pattern>/pending</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>SolvedTicket</servlet-name>
		<servlet-class>User.DisplaysolvedTickets</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>SolvedTicket</servlet-name>
		<url-pattern>/solved</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>TrashTicket</servlet-name>
		<servlet-class>User.DisplayTrashTickets</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>TrashTicket</servlet-name>
		<url-pattern>/trash</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>sendMessage</servlet-name>
		<servlet-class>User.sendMessageServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>sendMessage</servlet-name>
		<url-pattern>/send</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>solveTicket</servlet-name>
		<servlet-class>User.solveTicketServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>solveTicket</servlet-name>
		<url-pattern>/solve</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>deleteTemporarily</servlet-name>
		<servlet-class>User.deleteTemporarilyServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>deleteTemporarily</servlet-name>
		<url-pattern>/deletetemp</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>deletePermenantly</servlet-name>
		<servlet-class>User.deletePermanentServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>deletePermenantly</servlet-name>
		<url-pattern>/deleteperm</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>displayTickets</servlet-name>
		<servlet-class>User.DisplayTicketsServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>displayTickets</servlet-name>
		<url-pattern>/display</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>userDetails</servlet-name>
		<servlet-class>User.userDetailsServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>userDetails</servlet-name>
		<url-pattern>/user</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>logOut</servlet-name>
		<servlet-class>User.logoutServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>logOut</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Agent</servlet-name>
		<servlet-class>Agent.agentServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>Agent</servlet-name>
		<url-pattern>/agent</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AgentView</servlet-name>
		<servlet-class>Agent.agentViewServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AgentView</servlet-name>
		<url-pattern>/agentview</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AgentOnprogress</servlet-name>
		<servlet-class>Agent.displayAgentOnprogress</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AgentOnprogress</servlet-name>
		<url-pattern>/Agentonprogress</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>AgentSolved</servlet-name>
		<servlet-class>Agent.displayAgentSolved</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AgentSolved</servlet-name>
		<url-pattern>/Agentsolved</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AgentPick</servlet-name>
		<servlet-class>Agent.agentPickServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AgentPick</servlet-name>
		<url-pattern>/pick</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AgentSend</servlet-name>
		<servlet-class>Agent.agentsendMessage</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AgentSend</servlet-name>
		<url-pattern>/agentsendmsg</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>register</servlet-name>
		<servlet-class>User.signupServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>register</servlet-name>
		<url-pattern>/reg</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminUser</servlet-name>
		<servlet-class>Admin.getUsersServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AdminUser</servlet-name>
		<url-pattern>/adminUser</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminAgent</servlet-name>
		<servlet-class>Admin.getAgentsServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AdminAgent</servlet-name>
		<url-pattern>/adminAgent</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminTicket</servlet-name>
		<servlet-class>Admin.getAllTicketsServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AdminTicket</servlet-name>
		<url-pattern>/adminTicket</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminViewTicket</servlet-name>
		<servlet-class>Admin.viewTicketAdminServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AdminViewTicket</servlet-name>
		<url-pattern>/adminV</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ChangeAsAdmin</servlet-name>
		<servlet-class>Admin.changeAsAdminServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ChangeAsAdmin</servlet-name>
		<url-pattern>/adminchange</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ChangeAsAgent</servlet-name>
		<servlet-class>Admin.changeAsAgentServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ChangeAsAgent</servlet-name>
		<url-pattern>/agentchange</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RemoveUser</servlet-name>
		<servlet-class>Admin.removeUserServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>RemoveUser</servlet-name>
		<url-pattern>/remove</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>ProfileDetails</servlet-name>
		<servlet-class>User.profileServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ProfileDetails</servlet-name>
		<url-pattern>/profile</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DeleteProfile</servlet-name>
		<servlet-class>User.deleteprofileServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>DeleteProfile</servlet-name>
		<url-pattern>/dltprofile</url-pattern>
	</servlet-mapping>
</web-app>
